:root {
    --primary: #2563eb;
    --primary-dark: #1e3a8a;
    --accent: #f59e0b;
    --bg-dark: #0f172a;
    --glass: rgba(255, 255, 255, 0.1);
    --border-glass: rgba(255, 255, 255, 0.2);
    --text-light: #f8fafc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(-45deg, rgb(245, 112, 245), rgb(50, 50, 252));
    background-size: 400% 400%;
    animation: gradientMove 10s ease infinite;
    color: white;
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    backdrop-filter: blur(20px);
    background: var(--glass);
    border-bottom: 1px solid var(--border-glass);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    font-weight: 700;
    letter-spacing: 1px;
}

header nav a {
    color: white;
    margin-left: 30px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.4s;
}

header nav a:hover {
    color: var(--accent);
}

.hero{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 100px 80px;
    gap: 50px;
}

.hero-text h2{
    font-size: 52px;
    margin-bottom: 20px;
}

.hero-text p{
    font-size: 18px;
    margin-bottom: 30px;
    color: #cbd5e1;
}

img{
    width: 100%;
    border-radius: 20px;
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    0%{transform: translateY(0);}    
    50%{transform: translateY(-15px);}    
    100%{transform: translateY(0);}    
}

.btn{
    text-decoration: none;
    padding: 14px 30px;
    background: linear-gradient(90deg, var(--accent), #f97316);
    border-radius: 40px;
    font-weight: 550;
    color: white;
    transition: 0.4s;
}

.btn:hover{
    box-shadow: 0 0 15px;
}

.headline{
     text-align: center; 
     margin-top: 30px;
     margin-bottom: 50px;
     color: #0f172a;
     text-decoration: underline;
}

.card{
    backdrop-filter: blur(20px);
    background: var(--glass);
    border: 1px solid var(--border-glass);
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
    transition: 0.5s;
    text-align: center;
}

.card:hover{
    transform: translateY(-8px) scale(1.00);
    background: rgba(255, 255, 255, 0.2);
}

hr{
    margin-top: 80px;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

h3{
    text-decoration: underline;
    margin-bottom: 10px;
}

.quickLinks{
    display: flex;
    text-decoration: none;
    margin-bottom: 7px;
    color: #0f172a;
}

.quickLinks:hover{
    color: var(--accent);
}

table{
    width: 85%;
    margin: 60px auto;
    border-collapse: collapse;
    backdrop-filter: blur(20px);
    background: var(--glass);
    border-radius: 15px;
    overflow: hidden;
}

th{
    padding: 18px;
    text-align: start;
    background: rgba(255, 255, 255, 0.2);
}

td{
    padding: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

tr:hover{
    background: rgba(255, 255, 255, 0.1);
}

.courses-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.courses-grid a{
    text-decoration: none;
    color: white;
    background-color: #2b3b61;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 10px; 
    border-radius: 10px;
}

.courses-grid a:hover{
    background-color: var(--accent);
}

.admission-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    width: 70%;
    margin: 60px auto;
    padding: 20px;
    backdrop-filter: blur(20px);
    background: var(--glass);
    border-radius: 20px;
    border: 1px solid var(--border-glass);
}

.full-width{
    grid-column: span 2;
}

input,select,textarea{
    outline: none;
    padding: 14px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    color: white;
    animation: gradientMove 10s linear infinite ;
}

input::placeholder, textarea::placeholder{
    color: white;
}

input:focus, textarea:focus, section:focus{
    border-color: var(--accent);
    box-shadow: 0 0 15px rgba(245, 158, 11, 0.5);
}

input[type="radio"]{
    cursor:pointer;
}

option{
    background:  #ff94ff;
    color: #0f172a;
}

button{
    padding: 15px;
    border-radius: 12px;
    border: none;
    background: linear-gradient(90deg, var(--primary), var(--primary-dark));
    color: white;
    font-weight: 600;
    transition: 0.5s;
}

button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

/* section animation */
section{
    animation: faddeUp 1s ease forwards;
}

@keyframes fadeUP {
    from{
        opacity: 0;
        transform: translateY(40px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive */
@media (max-width: 768px) {
    .courses-grid{
        grid-template-columns: 1fr;
    }
    .admission-form{
        grid-template-columns: 1fr;
        width: 90%;
    }
    .hero{
        grid-template-columns: 1fr;
        text-align: center; 
    }
    .hero img{
        order: -1;
    }
    footer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 40px;
    }
    footer div{
        margin-bottom: 20px;
    }
    footer a{
        display: flex;
        justify-content: center;
        margin: 10px 0;
    }
}
